{% extends 'base.html.twig' %}

{% block title %}Edit Answer{% endblock %}

{% block body %}
    <h1>Edit Answer</h1>

    {{ include('answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('answer_index') }}" class="btn btn-outline-secondary btn-sm">back to list</a>

    <a href="{{ path('question_show', {'id': answer.question.id}) }}" class="btn btn-outline-secondary btn-sm">back to question</a>

    <a href="{{ path('quiz_show', {'id': answer.question.quiz.id}) }}" class="btn btn-outline-secondary btn-sm">back to quiz</a>

    <br/><br/>
    {{ include('answer/_delete_form.html.twig') }}
{% endblock %}