{% extends 'base.html.twig' %}

{% block title %}Answer index{% endblock %}

{% block body %}
    <h1>Answer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>IsCorrect</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.content }}</td>
                <td>{{ answer.isCorrect ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('answer_show', {'id': answer.id}) }}" class="btn btn-outline-secondary btn-sm">show</a>
                    <a href="{{ path('answer_edit', {'id': answer.id}) }}" class="btn btn-outline-secondary btn-sm">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('answer_new') }}" class="btn btn-outline-primary">Create new</a>
{% endblock %}