{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1>Quiz</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ quiz.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ quiz.title }}</td>
        </tr>
        <tr>
            <th>Percentage correctness to win</th>
            <td>{{ quiz.percentageCorrectnessToWin }}</td>
        </tr>
        </tbody>
    </table>

    <h3>Questions</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Content</th>
            <th>number of answers</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for question in quiz.questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.content }}</td>
                <td>{{ question.answers|length }}</td>
                <td>
                    <a href="{{ path('answer_new_to_question', {'id': question.id}) }}" class="btn btn-outline-secondary btn-sm">add answer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quiz_index') }}" class="btn btn-outline-primary">back to list</a>

    <a href="{{ path('quiz_edit', {'id': quiz.id}) }}" class="btn btn-outline-primary">edit</a>

    <a href="{{ path('question_new_to_quiz', {'id': quiz.id}) }}" class="btn btn-outline-primary">add question</a>

    <br/><br/>
    {{ include('quiz/_delete_form.html.twig') }}
{% endblock %}